---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<div>
  <h2 class="font-display text-2xl mb-4">Skills</h2>
  <p class="text-justify">
    I have expertise in a wide range of technologies including Python, TensorFlow, PyTorch, and cloud platforms like AWS and Azure. My skills span from data preprocessing and model training to deployment and optimization of AI systems. I'm also proficient in web development with frameworks like React and Node.js, allowing me to create end-to-end solutions.
  </p>
</div>